.created-task{
  overflow: hidden;
  width: 89.8305%;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
