.icon-background {
  width:2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  color: #e8eaf5;
  background-color: #7a7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
